/* CMPT 470 - Exercise 2 */
/* Arsalan Macknojia */
/* CSS Style Sheet 1 */

h1 {
    text-align: center;
    background-color: white
}

body {
    background-color: #228
}

#menu {
    width: 100%;
    margin-left: 10em;
    margin-bottom: 0
}

#menu a {
    color: black;
}

#menu li {
    display: inline-block;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #bbb
}

#menu .current {
    background-color: white
}

#main {
    float: left;
    background-color: white
}

